In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"D:\Dhika Ramadhan Saputra\Data Analist\Latihan data cleaning\Hospital data in Indonesia\(Raw data) Hospital_Indonesia_datasets.csv", delimiter=';')
df

,id,nama,propinsi,kab,alamat,jenis,kelas,status_blu,kepemilikan,total_tempat_tidur,total_layanan,total_tenaga_kerja
0,1110053,RS Arun Lhokseumawe,Aceh,Kota Lhokseumawe,Jl. Plaju Komplek Perumahan PT Arun Batuphat T...,Rumah Sakit Umum,C,Non BLU/BLUD,SWASTA/LAINNYA,218,36,328
1,1106014,RS Umum Fandika,Aceh,Aceh Tengah,Jl. Terminal Simpang Wariji Blangkolak 1 Kec. ...,Rumah Sakit Umum,D,Non BLU/BLUD,SWASTA/LAINNYA,45,15,45
2,1171110,RS Umum Daerah Meuraxa,Aceh,Kota Banda Aceh,Jl. Soekarno Hatta Km. 2 Desa Mibo Kecamatan B...,Rumah Sakit Umum,B,BLUD,Pemkot,310,77,487
3,1171163,RS Gigi Mulut Universitas Syiah Kuala,Aceh,Kota Banda Aceh,Jl. Prof A. Madjid Ibrahim I No. 5 Banda Aceh ...,Rumah Sakit Khusus Gigi dan Mulut,B,BLU,Kementerian Lain,11,24,0
4,1102027,RS Umum Daerah Kota Subulussalam,Aceh,Kota Subulussalam,Jl. Hamzah Fansyuri (Subulussalam-Rundeng) K...,Rumah Sakit Umum,C,BLUD,Pemkot,189,34,537
...,...,...,...,...,...,...,...,...,...,...,...,...
3150,9232011,RS Umum Daerah Er Dabi,Papua Pegunungan,Yalimo,Jl. Trans Wamena Jayapura KM. 123 Heahobak Dis...,Rumah Sakit Umum,D,Non BLU/BLUD,Pemkab,35,18,0
3151,9231002,RS Umum Daerah Lukas Enembe Kab. Memberamo Tengah,Papua Pegunungan,Mamberamo Tengah,"Jln. Poros Gimbis Nomor 1, Distrik Kobakma, Ka...",Rumah Sakit Umum,D PRATAMA,Non BLU/BLUD,Pemkab,85,23,47
3152,9201046,RS Tk. IV 17.07.01 Jenderal LB Moerdani,Papua Selatan,Merauke,"Jl. Poros L.B. Moerdani, Kel. Kamangi, Kec. Ta...",Rumah Sakit Umum,D,Non BLU/BLUD,TNI AD,81,24,0
3153,9212027,RS TNI AD Tk. IV Timika,Papua Tengah,Mimika,Jl. Agimuga Mile 32 Desa Karang Senang Distrik...,Rumah Sakit Umum,D,Non BLU/BLUD,TNI AD,60,43,0
3154,9271023,RS Umum Abepura,Papua,Kota Jayapura,"Jl. Kesehatan No. I Abepura, jayapura",Rumah Sakit Umum,C,BLUD,Pemprop,236,79,190

In [3]:
pd.set_option('display.max_rows', None)

In [4]:
df.isnull().sum()

id                    0
nama                  0
propinsi              0
kab                   0
alamat                0
jenis                 0
kelas                 0
status_blu            0
kepemilikan           0
total_tempat_tidur    0
total_layanan         0
total_tenaga_kerja    0
dtype: int64

In [5]:
df['jenis'].drop_duplicates()

0                        Rumah Sakit Umum
3       Rumah Sakit Khusus Gigi dan Mulut
10        Rumah Sakit Khusus Ibu dan Anak
58                Rumah Sakit Khusus Jiwa
91               Rumah Sakit Khusus Bedah
97                Rumah Sakit Khusus Mata
189               Rumah Sakit Khusus Paru
220             Rumah Sakit Khusus Ginjal
326             Rumah Sakit Khusus Stroke
771             Rumah Sakit Khusus THT-KL
789             Rumah Sakit Khusus Kanker
795            Rumah Sakit Khusus Infeksi
806                          021-26071997
834            Rumah Sakit Khusus Jantung
846               Rumah Sakit Khusus Otak
859       Rumah Sakit Ketergantungan Obat
876          Rumah Sakit Khusus Orthopedi
910                     RS Kapal/Bergerak
1403                                    2
1746
3114                                    -
Name: jenis, dtype: object

In [6]:
df[df['jenis'] == '021-26071997']

,id,nama,propinsi,kab,alamat,jenis,kelas,status_blu,kepemilikan,total_tempat_tidur,total_layanan,total_tenaga_kerja
806,3101002,RS Umum Daerah Kepulauan Seribu,DKI Jakarta,Kepulauan Seribu,"Pulau Pramuka Rt.001 RW.004, Kelurahan : Pulau...",021-26071997,Rumah Sakit Umum,D,BLUD,1966,50,24

In [7]:
df = df[df['id'] != 3101002]

In [ ]:
df.head(50)

In [9]:
df['kelas'].drop_duplicates()

0                             C
1                             D
2                             B
25                    D PRATAMA
47                            A
442            Belum Ditetapkan
1403           Rumah Sakit Umum
1746    Rumah Sakit Khusus Jiwa
Name: kelas, dtype: object

In [12]:
df[df['kelas'] == 'Rumah Sakit Umum']

,id,nama,propinsi,kab,alamat,jenis,kelas,status_blu,kepemilikan,total_tempat_tidur,total_layanan,total_tenaga_kerja
1403,3310015,RS Umum Pusat Dr. Soeradji Tirtonegoro,Jawa Tengah,Klaten,"Jl. KRT. Suraji Tirtonegoro No.1, Klaten",2,Rumah Sakit Umum,A,BLU,30343,419,141
3114,9228002,RS Umum Daerah Kawera,Papua,Mamberamo Raya,"Jln. Demianus Kyeuw-kyeuw, SH",-,Rumah Sakit Umum,D PRATAMA,Non BLU/BLUD,1220,50,20

In [13]:
df[df['id'] == 3310015]

,id,nama,propinsi,kab,alamat,jenis,kelas,status_blu,kepemilikan,total_tempat_tidur,total_layanan,total_tenaga_kerja
1403,3310015,RS Umum Pusat Dr. Soeradji Tirtonegoro,Jawa Tengah,Klaten,"Jl. KRT. Suraji Tirtonegoro No.1, Klaten",2,Rumah Sakit Umum,A,BLU,30343,419,141

In [14]:
df.loc[df['id'] == 3310015, 'jenis'] = 'Rumah Sakit Umum'
df.loc[df['id'] == 3310015]

,id,nama,propinsi,kab,alamat,jenis,kelas,status_blu,kepemilikan,total_tempat_tidur,total_layanan,total_tenaga_kerja
1403,3310015,RS Umum Pusat Dr. Soeradji Tirtonegoro,Jawa Tengah,Klaten,"Jl. KRT. Suraji Tirtonegoro No.1, Klaten",Rumah Sakit Umum,Rumah Sakit Umum,A,BLU,30343,419,141

In [16]:
df.loc[df['id'] == 3310015, 'kelas'] = 'A'
df.loc[df['id'] == 3310015, 'status_blu'] = 'BLU'
df.loc[df['id'] == 3310015, 'kepemilikan'] = 'Tidak Diketahui'
df.loc[df['id'] == 3310015]

,id,nama,propinsi,kab,alamat,jenis,kelas,status_blu,kepemilikan,total_tempat_tidur,total_layanan,total_tenaga_kerja
1403,3310015,RS Umum Pusat Dr. Soeradji Tirtonegoro,Jawa Tengah,Klaten,"Jl. KRT. Suraji Tirtonegoro No.1, Klaten",Rumah Sakit Umum,A,BLU,Tidak Diketahui,30343,419,141

In [19]:
df.loc[df['id'] == 9228002, 'jenis'] = 'Rumah Sakit Umum'
df.loc[df['id'] == 9228002, 'kelas'] = 'D PRATAMA'
df.loc[df['id'] == 9228002, 'status_blu'] = 'Non BLU/BLUD'
df.loc[df['id'] == 9228002, 'kepemilikan'] = 'Tidak Diketahui'

,id,nama,propinsi,kab,alamat,jenis,kelas,status_blu,kepemilikan,total_tempat_tidur,total_layanan,total_tenaga_kerja,status_blue
3114,9228002,RS Umum Daerah Kawera,Papua,Mamberamo Raya,"Jln. Demianus Kyeuw-kyeuw, SH",Rumah Sakit Umum,D PRATAMA,Non BLU/BLUD,Tidak Diketahui,1220,50,20,Tidak Diketahui

In [ ]:
df.loc[df['id' == 9228002]].drop(column = -1)

In [24]:
df.loc[df['id'] == 9228002]

,id,nama,propinsi,kab,alamat,jenis,kelas,status_blu,kepemilikan,total_tempat_tidur,total_layanan,total_tenaga_kerja
3114,9228002,RS Umum Daerah Kawera,Papua,Mamberamo Raya,"Jln. Demianus Kyeuw-kyeuw, SH",Rumah Sakit Umum,D PRATAMA,Non BLU/BLUD,Tidak Diketahui,1220,50,20

In [25]:
df['kepemilikan'].drop_duplicates()

0             SWASTA/LAINNYA
2                     Pemkot
3           Kementerian Lain
5                     Pemkab
6                 Perusahaan
11         Organisasi Sosial
13                     POLRI
16                    TNI AD
24                    TNI AL
31                      BUMN
43                   Pemprop
53                Perorangan
89       Organisasi Katholik
92      Organisasi Protestan
159                  Kemkes
232                   TNI AU
288        Organisasi Islam
801         Organisasi Budha
1403         Tidak Diketahui
1746            Non BLU/BLUD
2348        Organisasi Hindu
Name: kepemilikan, dtype: object